In [22]:
customer_ids = list(range(0,500))

In [23]:
transaction_ids = list(range(5000))

In [24]:
from faker import Faker

In [25]:
fake = Faker()

In [26]:
fake.name()

'Erika Reed'

In [27]:
customer_names = []
for i in range(len(customer_ids)):
    customer_names.append(fake.name())

In [28]:
join_dates = []
for i in range(len(customer_ids)):
    join_dates.append(fake.date())

In [29]:
customer_types_cat = ["corporate", "private"]

In [30]:
import random
customer_types = []
for i in range(len(customer_ids)):
    customer_types.append(random.choice(customer_types_cat))

In [31]:
import numpy as np
customer_balance = []
for i in range(len(customer_ids)):
    customer_balance.append(abs(np.random.normal()*10000))

In [32]:
customer_birthdate = []
for i in range(len(customer_ids)):
    customer_birthdate.append(fake.date())

In [33]:
gender_types_cat = ["male", "female"]

In [34]:
customer_gender = []
for i in range(len(customer_ids)):
    customer_gender.append(random.choice(gender_types_cat))

In [35]:
pep_types_cat = [True, False]

In [36]:
customer_pep = []
for i in range(len(customer_ids)):
    customer_pep.append(random.choice(pep_types_cat))

In [37]:
number_of_accounts = []
for i in range(len(customer_ids)):
    number_of_accounts.append(np.random.randint(1, 15))

In [38]:
matrix = np.array([customer_names, join_dates, customer_types, customer_balance, customer_birthdate, customer_gender, customer_pep, number_of_accounts, customer_ids])

In [39]:
matrix.shape

(9, 500)

In [40]:
for i in range(8):
    print(len(matrix[i]))

500
500
500
500
500
500
500
500

In [41]:
#matrix[0,:]

In [42]:
import pandas as pd
dataset = pd.DataFrame({
        'name':matrix[0,:],
        'join_date':matrix[1,:],
        'customer_type':matrix[2,:],
        'balance':matrix[3,:],
        "birthdate": matrix[4,:],
        "gender": matrix[5,:],
        "pep": matrix[6,:],
        "number_of_accounts": matrix[7,:],
        "cust_id": matrix[8,:]
    })

In [43]:
dataset.head()

,balance,birthdate,cust_id,customer_type,gender,join_date,name,number_of_accounts,pep
0,13521.64118421771,1970-12-02,0,corporate,male,1977-08-27,Martin Sheppard,12,False
1,16048.514127641927,2008-01-24,1,private,male,1977-03-29,Daniel Everett,5,False
2,2695.87666905298,2012-04-03,2,corporate,male,1998-05-12,Rachel Davis,3,False
3,10420.879276105059,2004-07-10,3,private,male,2004-02-21,Stacey Thompson,14,True
4,5500.606399475897,1990-01-13,4,corporate,male,1989-12-05,Sara Cross,2,False

In [44]:
dataset.to_csv("kyc.csv", sep=',', encoding='utf-8',index=False)

In [45]:
trx_in_cust_id = []
for i in range(len(transaction_ids)):
    trx_in_cust_id.append(random.choice(customer_ids))

In [46]:
trx_dates = []
for i in range(len(transaction_ids)):
    trx_dates.append(fake.date())

In [47]:
trx_type_cat = ["ATM", "INTERNATIONAL", "DOMESTIC", "SWISH"]
trx_types = []
for i in range(len(transaction_ids)):
    trx_types.append(random.choice(trx_type_cat))

In [48]:
trx_amount = []
for i in range(len(transaction_ids)):
    trx_amount.append(abs(np.random.normal()*1000))

In [49]:
trx_bankid = []
for i in range(len(transaction_ids)):
    trx_bankid.append(np.random.randint(1, 10000000))

In [50]:
trx_out_cust_id = []
for i in range(len(transaction_ids)):
    counter = trx_in_cust_id[i]
    while counter == trx_in_cust_id[i]:
        counter = random.choice(customer_ids)
    trx_out_cust_id.append(counter)

In [51]:
trx_clearingnum = []
for i in range(len(transaction_ids)):
    trx_clearingnum.append(np.random.randint(1000, 9999))

In [52]:
trx_countries_cat = ["SWEDEN", "NORWAY", "UK", "LATVIA", "ESTONIA", "FINLAND", "RUSSIA", "ROMANIA"]

In [53]:
trx_countries = []
for i in range(len(transaction_ids)):
    trx_countries.append(random.choice(trx_countries_cat))

In [54]:
matrix2 = np.array([trx_in_cust_id, trx_dates, trx_types, trx_amount, trx_bankid, trx_out_cust_id, trx_clearingnum, trx_countries])

In [55]:
import pandas as pd
dataset2 = pd.DataFrame({
        'cust_id_in':matrix2[0,:],
        'trx_date':matrix2[1,:],
        'trx_type':matrix2[2,:],
        'trx_amount':matrix2[3,:],
        'trx_bankid':matrix2[4,:],
        "cust_id_out": matrix2[5,:],
        "trx_clearinnum": matrix2[6,:],
        "trx_country": matrix2[7,:]
    })

In [56]:
dataset2.head()

,cust_id_in,cust_id_out,trx_amount,trx_bankid,trx_clearinnum,trx_country,trx_date,trx_type
0,261,416,1861.4578334817759,4227176,3556,ROMANIA,1973-11-28,SWISH
1,483,436,1540.257005828488,2805500,9039,LATVIA,2016-07-16,ATM
2,32,271,816.234937173446,3056414,9901,SWEDEN,2004-12-08,INTERNATIONAL
3,274,115,1056.996302407404,8228775,2237,SWEDEN,2004-03-17,SWISH
4,402,138,1431.0724147989276,9029771,6009,SWEDEN,2015-12-07,SWISH

In [57]:
dataset2.to_csv("trx.csv", sep=',', encoding='utf-8', index=False)

In [58]:
reports_ids = list(range(100))

In [59]:
report_cust_id = []
for i in range(len(reports_ids)):
    report_cust_id.append(random.choice(customer_ids))

In [60]:
report_dates = []
for i in range(len(reports_ids)):
    report_dates.append(fake.date())

In [61]:
report_description = []
for i in range(len(reports_ids)):
    report_description.append("blablablabla")

In [62]:
matrix3 = np.array([reports_ids, report_cust_id, report_dates, report_description])

In [63]:
dataset3 = pd.DataFrame({
        'report_id':matrix3[0,:],
        'cust_id':matrix3[1,:],
        'report_date':matrix3[2,:],
        'description':matrix3[3,:]
    })

In [64]:
dataset3.head()

  cust_id   description report_date report_id
0     302  blablablabla  2008-03-22         0
1     445  blablablabla  2015-10-17         1
2     102  blablablabla  2011-12-31         2
3     460  blablablabla  1972-07-17         3
4     362  blablablabla  1991-07-21         4

In [65]:
dataset3.to_csv("police_reports.csv", sep=',', encoding='utf-8', index=False)

In [66]:
web_ids = list(range(5000))

In [67]:
web_cust_id = []
for i in range(len(web_ids)):
    web_cust_id.append(random.choice(customer_ids))

In [68]:
web_seconds = []
for i in range(len(web_ids)):
    web_seconds.append(np.random.randint(15, 1000))

In [69]:
ips = [fake.ipv4() for i in range(50)]
#fake.ipv4()

In [70]:
web_address = []
for i in range(len(web_ids)):
    web_address.append(random.choice(ips))

In [71]:
web_actions_cat = ["browse", "transactions", "update_profile", "request_loan", "create_account"]

In [72]:
web_actions = []
for i in range(len(web_ids)):
    web_actions.append(random.choice(web_actions_cat))

In [73]:
matrix4 = np.array([web_ids, web_cust_id, web_seconds, web_address, web_actions])

In [74]:
dataset4 = pd.DataFrame({
        'web_id':matrix4[0,:],
        'cust_id':matrix4[1,:],
        'time_spent_seconds':matrix4[2,:],
        'address':matrix4[3,:],
        "action": matrix4[4,:]
    })

In [75]:
dataset4.head()

           action         address cust_id time_spent_seconds web_id
0  update_profile    102.13.84.31     283                782      0
1  update_profile    102.13.84.31     297                793      1
2    transactions   198.51.109.76     383                306      2
3    transactions  198.51.116.253      50                 79      3
4  update_profile  198.58.236.158     364                552      4

In [76]:
dataset4.to_csv("web_logs.csv", sep=',', encoding='utf-8', index=False)

In [77]:
alert_ids = list(range(300))

In [78]:
alert_trx_id = []
for i in range(len(alert_ids)):
    alert_trx_id.append(random.choice(transaction_ids))

In [79]:
alert_date = []
for i in range(len(alert_ids)):
    alert_date.append(fake.date())

In [80]:
alert_type_cat = ["TERRORISM", "HIGH_INT_PAYMENT", "SMURFING", "REPEATED_SWISH"]

In [81]:
alert_types = []
for i in range(len(alert_ids)):
    alert_types.append(random.choice(alert_type_cat))

In [82]:
alert_score = []
for i in range(len(alert_ids)):
    alert_score.append(abs(np.random.normal()))

In [83]:
alert_rule_name_cat = ["TOOK_OVER_4_LOANS_IN_ONE_DAY", "TOOK_LOANS_FROM_MORE_THAN_1_BANK_IN_ONE_DAY", "INT_PAYMENT_OVER_5K", "SMURFING_OVER_5_ACCOUNTS", "SMURFING_OVER_10_ACCOUNTS", "REPEATED_SWISH", "MANY_SWISH_ACCOUNTS"]

In [84]:
rule_names = []
for i in range(len(alert_ids)):
    rule_names.append(random.choice(alert_rule_name_cat))

In [85]:
alert_description = []
for i in range(len(alert_ids)):
    alert_description.append("blablablablablabla")

In [86]:
matrix5 = np.array([alert_ids, alert_trx_id, alert_date, alert_types, alert_score, rule_names, alert_description])

In [87]:
dataset5 = pd.DataFrame({
        'alert_id':matrix5[0,:],
        'trx_id':matrix5[1,:],
        'alert_date':matrix5[2,:],
        'alert_type':matrix5[3,:],
        "alert_score": matrix5[4,:],
        "rule_name": matrix5[5,:],
        "alert_desc": matrix5[6,:],  
    })

In [88]:
dataset5.head()

,alert_date,alert_desc,alert_id,alert_score,alert_type,rule_name,trx_id
0,2007-09-06,blablablablablabla,0,0.11363066752159397,HIGH_INT_PAYMENT,INT_PAYMENT_OVER_5K,2676
1,1992-06-30,blablablablablabla,1,0.39961970097965943,TERRORISM,REPEATED_SWISH,897
2,2004-11-07,blablablablablabla,2,0.11401844861338346,TERRORISM,SMURFING_OVER_10_ACCOUNTS,403
3,1985-02-18,blablablablablabla,3,0.04322181874309635,TERRORISM,REPEATED_SWISH,331
4,2017-03-19,blablablablablabla,4,1.143806671288466,TERRORISM,SMURFING_OVER_10_ACCOUNTS,516

In [89]:
dataset5.to_csv("alerts.csv", sep=',', encoding='utf-8', index=False)

In [90]:
corporate_ids = list(range(100))

In [91]:
indudstry_sector_cat = ["AGRICULTURE", "IT", "CONSTRUCTION", "ENERGY", "AEROSPACE", "ENTERTAINMENT"]

In [92]:
industry_sectors = []
for i in range(len(corporate_ids)):
    industry_sectors.append(random.choice(indudstry_sector_cat))

In [93]:
externa_kostnader = []
for i in range(len(corporate_ids)):
    externa_kostnader.append(abs(np.random.normal()*10000))

In [94]:
rente_kostnader = []
for i in range(len(corporate_ids)):
    rente_kostnader.append(abs(np.random.normal()*1000))

In [95]:
netomsettning = []
for i in range(len(corporate_ids)):
    netomsettning.append(abs(np.random.normal()*100000))

In [96]:
netomsettning_3year = []
for i in range(len(corporate_ids)):
    netomsettning_3year.append(abs(np.random.normal()*10000))

In [97]:
netomsettning_2year = []
for i in range(len(corporate_ids)):
    netomsettning_2year.append(abs(np.random.normal()*1000))

In [98]:
netomsettning_1year = []
for i in range(len(corporate_ids)):
    netomsettning_1year.append(abs(np.random.normal()*100))

In [99]:
matrix6 = np.array([corporate_ids, industry_sectors, externa_kostnader, netomsettning, netomsettning_3year, netomsettning_2year, netomsettning_1year])

In [100]:
dataset6 = pd.DataFrame({
        'corporate_id':matrix6[0,:],
        'industry_sector':matrix6[1,:],
        'externa_kostnader':matrix6[2,:],
        'netomsettning':matrix6[3,:],
        "netomsettning_3year": matrix6[4,:],
        "netomsettning_2year": matrix6[5,:],
        "netomsettning_1year": matrix6[6,:],  
    })

In [101]:
dataset6.head()

,corporate_id,externa_kostnader,industry_sector,netomsettning,netomsettning_1year,netomsettning_2year,netomsettning_3year
0,0,3235.0867890865097,ENTERTAINMENT,59164.244528402785,83.91500869840873,147.54021266485626,15903.244422098
1,1,14371.57983631589,ENERGY,53514.41256621461,31.984321662269206,452.56299093105144,14109.433973213429
2,2,11223.85885322683,CONSTRUCTION,65956.90328945404,87.56489015497613,1656.935619402168,1492.7374809855025
3,3,9699.994495097277,IT,90657.13854110238,58.764138727997064,209.9214728746534,11804.270560860003
4,4,13018.1352121905,ENTERTAINMENT,54426.83133736266,72.5161212911848,104.01544926416392,6904.105982823086

In [102]:
dataset6.to_csv("hipo.csv", sep=',', encoding='utf-8', index=False)