In [172]:
customer_ids = list(range(0,500))

In [173]:
transaction_ids = list(range(5000))

In [174]:
from faker import Faker

In [175]:
fake = Faker()

In [176]:
fake.name()

'Sue Ray'

In [177]:
customer_names = []
for i in range(len(customer_ids)):
    customer_names.append(fake.name())

In [178]:
join_dates = []
for i in range(len(customer_ids)):
    join_dates.append(fake.date())

In [179]:
customer_types_cat = ["corporate", "private"]

In [180]:
import random
customer_types = []
for i in range(len(customer_ids)):
    customer_types.append(random.choice(customer_types_cat))

In [181]:
import numpy as np
customer_balance = []
for i in range(len(customer_ids)):
    customer_balance.append(abs(np.random.normal()*10000))

In [182]:
customer_birthdate = []
for i in range(len(customer_ids)):
    customer_birthdate.append(fake.date())

In [183]:
gender_types_cat = ["male", "female"]

In [184]:
customer_gender = []
for i in range(len(customer_ids)):
    customer_gender.append(random.choice(gender_types_cat))

In [185]:
pep_types_cat = [True, False]

In [186]:
customer_pep = []
for i in range(len(customer_ids)):
    customer_pep.append(random.choice(pep_types_cat))

In [187]:
number_of_accounts = []
for i in range(len(customer_ids)):
    number_of_accounts.append(np.random.randint(1, 15))

In [188]:
matrix = np.array([customer_names, join_dates, customer_types, customer_balance, customer_birthdate, customer_gender, customer_pep, number_of_accounts, customer_ids])

In [189]:
matrix.shape

(9, 500)

In [190]:
for i in range(8):
    print(len(matrix[i]))

500
500
500
500
500
500
500
500

In [191]:
#matrix[0,:]

In [192]:
import pandas as pd
dataset = pd.DataFrame({
        'name':matrix[0,:],
        'join_date':matrix[1,:],
        'customer_type':matrix[2,:],
        'balance':matrix[3,:],
        "birthdate": matrix[4,:],
        "gender": matrix[5,:],
        "pep": matrix[6,:],
        "number_of_accounts": matrix[7,:],
        "cust_id": matrix[8,:]
    })

In [193]:
dataset.head()

,balance,birthdate,cust_id,customer_type,gender,join_date,name,number_of_accounts,pep
0,4591.73932073162,2014-12-09,0,corporate,male,1992-12-21,Gary Johnson,4,False
1,13533.496311274432,1970-09-26,1,corporate,female,1981-03-25,Kyle Gallegos,10,True
2,19077.328763693204,2004-11-06,2,corporate,male,1975-10-18,Alexander Cruz,2,True
3,11765.387088778163,1989-04-07,3,private,female,1978-09-02,Dorothy Thomas,3,True
4,24.54640376385323,2015-05-15,4,corporate,male,1989-07-19,Chad Hurley,2,False

In [194]:
dataset.to_csv("kyc.csv", sep=',', encoding='utf-8',index=False)

In [195]:
trx_in_cust_id = []
for i in range(len(transaction_ids)):
    trx_in_cust_id.append(random.choice(customer_ids))

In [196]:
trx_dates = []
for i in range(len(transaction_ids)):
    trx_dates.append(fake.date())

In [197]:
trx_type_cat = ["ATM", "INTERNATIONAL", "DOMESTIC", "SWISH"]
trx_types = []
for i in range(len(transaction_ids)):
    trx_types.append(random.choice(trx_type_cat))

In [198]:
trx_amount = []
for i in range(len(transaction_ids)):
    trx_amount.append(abs(np.random.normal()*1000))

In [199]:
trx_bankid = []
for i in range(len(transaction_ids)):
    trx_bankid.append(np.random.randint(1, 10000000))

In [200]:
trx_out_cust_id = []
for i in range(len(transaction_ids)):
    counter = trx_in_cust_id[i]
    while counter == trx_in_cust_id[i]:
        counter = random.choice(customer_ids)
    trx_out_cust_id.append(counter)

In [201]:
trx_clearingnum = []
for i in range(len(transaction_ids)):
    trx_clearingnum.append(np.random.randint(1000, 9999))

In [202]:
trx_countries_cat = ["SWEDEN", "NORWAY", "UK", "LATVIA", "ESTONIA", "FINLAND", "RUSSIA", "ROMANIA"]

In [203]:
trx_countries = []
for i in range(len(transaction_ids)):
    trx_countries.append(random.choice(trx_countries_cat))

In [204]:
matrix2 = np.array([trx_in_cust_id, trx_dates, trx_types, trx_amount, trx_bankid, trx_out_cust_id, trx_clearingnum, trx_countries, transaction_ids])

In [205]:
import pandas as pd
dataset2 = pd.DataFrame({
        'cust_id_in':matrix2[0,:],
        'trx_date':matrix2[1,:],
        'trx_type':matrix2[2,:],
        'trx_amount':matrix2[3,:],
        'trx_bankid':matrix2[4,:],
        "cust_id_out": matrix2[5,:],
        "trx_clearinnum": matrix2[6,:],
        "trx_country": matrix2[7,:],
        "trx_id": matrix2[8,:]
    })

In [206]:
dataset2.head()

,cust_id_in,cust_id_out,trx_amount,trx_bankid,trx_clearinnum,trx_country,trx_date,trx_id,trx_type
0,169,397,69.50684196648673,7988236,6417,ESTONIA,1992-12-28,0,SWISH
1,94,496,1560.577013730472,3934900,8601,LATVIA,1976-12-22,1,SWISH
2,459,49,523.5258060022346,2091286,2194,SWEDEN,2011-05-12,2,INTERNATIONAL
3,197,185,645.4064391935216,8931714,4976,RUSSIA,1995-11-15,3,SWISH
4,467,60,73.56774162728976,9475654,9922,ROMANIA,2009-08-29,4,DOMESTIC

In [207]:
dataset2.to_csv("trx.csv", sep=',', encoding='utf-8', index=False)

In [208]:
reports_ids = list(range(100))

In [209]:
report_cust_id = []
for i in range(len(reports_ids)):
    report_cust_id.append(random.choice(customer_ids))

In [210]:
report_dates = []
for i in range(len(reports_ids)):
    report_dates.append(fake.date())

In [211]:
report_description = []
for i in range(len(reports_ids)):
    report_description.append("blablablabla")

In [212]:
matrix3 = np.array([reports_ids, report_cust_id, report_dates, report_description])

In [213]:
dataset3 = pd.DataFrame({
        'report_id':matrix3[0,:],
        'cust_id':matrix3[1,:],
        'report_date':matrix3[2,:],
        'description':matrix3[3,:]
    })

In [214]:
dataset3.head()

  cust_id   description report_date report_id
0     264  blablablabla  2010-09-04         0
1       9  blablablabla  2011-03-26         1
2     302  blablablabla  2018-03-09         2
3      40  blablablabla  1985-07-01         3
4     408  blablablabla  1992-01-19         4

In [215]:
dataset3.to_csv("police_reports.csv", sep=',', encoding='utf-8', index=False)

In [216]:
web_ids = list(range(5000))

In [217]:
web_cust_id = []
for i in range(len(web_ids)):
    web_cust_id.append(random.choice(customer_ids))

In [218]:
web_seconds = []
for i in range(len(web_ids)):
    web_seconds.append(np.random.randint(15, 1000))

In [219]:
ips = [fake.ipv4() for i in range(50)]
#fake.ipv4()

In [220]:
web_address = []
for i in range(len(web_ids)):
    web_address.append(random.choice(ips))

In [221]:
web_actions_cat = ["browse", "transactions", "update_profile", "request_loan", "create_account"]

In [222]:
web_actions = []
for i in range(len(web_ids)):
    web_actions.append(random.choice(web_actions_cat))

In [223]:
matrix4 = np.array([web_ids, web_cust_id, web_seconds, web_address, web_actions])

In [224]:
dataset4 = pd.DataFrame({
        'web_id':matrix4[0,:],
        'cust_id':matrix4[1,:],
        'time_spent_seconds':matrix4[2,:],
        'address':matrix4[3,:],
        "action": matrix4[4,:]
    })

In [225]:
dataset4.head()

           action         address cust_id time_spent_seconds web_id
0    transactions   192.175.49.88     408                966      0
1          browse  194.234.19.236     253                 90      1
2          browse    203.0.115.59      66                474      2
3  update_profile      1.4.197.69      76                587      3
4  update_profile   198.48.81.188     163                895      4

In [226]:
dataset4.to_csv("web_logs.csv", sep=',', encoding='utf-8', index=False)

In [227]:
alert_ids = list(range(300))

In [228]:
alert_trx_id = []
for i in range(len(alert_ids)):
    alert_trx_id.append(random.choice(transaction_ids))

In [229]:
alert_date = []
for i in range(len(alert_ids)):
    alert_date.append(fake.date())

In [230]:
alert_type_cat = ["TERRORISM", "HIGH_INT_PAYMENT", "SMURFING", "REPEATED_SWISH"]

In [231]:
alert_types = []
for i in range(len(alert_ids)):
    alert_types.append(random.choice(alert_type_cat))

In [232]:
alert_score = []
for i in range(len(alert_ids)):
    alert_score.append(abs(np.random.normal()))

In [233]:
alert_rule_name_cat = ["TOOK_OVER_4_LOANS_IN_ONE_DAY", "TOOK_LOANS_FROM_MORE_THAN_1_BANK_IN_ONE_DAY", "INT_PAYMENT_OVER_5K", "SMURFING_OVER_5_ACCOUNTS", "SMURFING_OVER_10_ACCOUNTS", "REPEATED_SWISH", "MANY_SWISH_ACCOUNTS"]

In [234]:
rule_names = []
for i in range(len(alert_ids)):
    rule_names.append(random.choice(alert_rule_name_cat))

In [235]:
alert_description = []
for i in range(len(alert_ids)):
    alert_description.append("blablablablablabla")

In [236]:
matrix5 = np.array([alert_ids, alert_trx_id, alert_date, alert_types, alert_score, rule_names, alert_description])

In [237]:
dataset5 = pd.DataFrame({
        'alert_id':matrix5[0,:],
        'trx_id':matrix5[1,:],
        'alert_date':matrix5[2,:],
        'alert_type':matrix5[3,:],
        "alert_score": matrix5[4,:],
        "rule_name": matrix5[5,:],
        "alert_desc": matrix5[6,:],  
    })

In [238]:
dataset5.head()

,alert_date,alert_desc,alert_id,alert_score,alert_type,rule_name,trx_id
0,1994-07-04,blablablablablabla,0,0.20622221756593395,HIGH_INT_PAYMENT,MANY_SWISH_ACCOUNTS,731
1,1998-12-28,blablablablablabla,1,1.5129313342537831,SMURFING,SMURFING_OVER_5_ACCOUNTS,1928
2,2004-03-15,blablablablablabla,2,0.3703983394400857,HIGH_INT_PAYMENT,INT_PAYMENT_OVER_5K,4265
3,1982-08-01,blablablablablabla,3,0.6726302326172139,TERRORISM,REPEATED_SWISH,235
4,2008-02-26,blablablablablabla,4,0.5425701176243393,REPEATED_SWISH,TOOK_LOANS_FROM_MORE_THAN_1_BANK_IN_ONE_DAY,4456

In [239]:
dataset5.to_csv("alerts.csv", sep=',', encoding='utf-8', index=False)

In [240]:
corporate_ids = list(range(100))

In [241]:
indudstry_sector_cat = ["AGRICULTURE", "IT", "CONSTRUCTION", "ENERGY", "AEROSPACE", "ENTERTAINMENT"]

In [242]:
industry_sectors = []
for i in range(len(corporate_ids)):
    industry_sectors.append(random.choice(indudstry_sector_cat))

In [243]:
externa_kostnader = []
for i in range(len(corporate_ids)):
    externa_kostnader.append(abs(np.random.normal()*10000))

In [244]:
rente_kostnader = []
for i in range(len(corporate_ids)):
    rente_kostnader.append(abs(np.random.normal()*1000))

In [245]:
netomsettning = []
for i in range(len(corporate_ids)):
    netomsettning.append(abs(np.random.normal()*100000))

In [246]:
netomsettning_3year = []
for i in range(len(corporate_ids)):
    netomsettning_3year.append(abs(np.random.normal()*10000))

In [247]:
netomsettning_2year = []
for i in range(len(corporate_ids)):
    netomsettning_2year.append(abs(np.random.normal()*1000))

In [248]:
netomsettning_1year = []
for i in range(len(corporate_ids)):
    netomsettning_1year.append(abs(np.random.normal()*100))

In [249]:
matrix6 = np.array([corporate_ids, industry_sectors, externa_kostnader, netomsettning, netomsettning_3year, netomsettning_2year, netomsettning_1year])

In [250]:
dataset6 = pd.DataFrame({
        'corporate_id':matrix6[0,:],
        'industry_sector':matrix6[1,:],
        'externa_kostnader':matrix6[2,:],
        'netomsettning':matrix6[3,:],
        "netomsettning_3year": matrix6[4,:],
        "netomsettning_2year": matrix6[5,:],
        "netomsettning_1year": matrix6[6,:],  
    })

In [251]:
dataset6.head()

,corporate_id,externa_kostnader,industry_sector,netomsettning,netomsettning_1year,netomsettning_2year,netomsettning_3year
0,0,449.29205721128676,AGRICULTURE,163192.38642033347,10.598995115179399,842.668302922688,9173.546321373024
1,1,1579.5312559880408,CONSTRUCTION,195114.5985781537,129.94035350459342,192.16615739112285,3632.969695827038
2,2,17032.351396699785,ENERGY,36820.33905167557,7.142173883326393,807.4635688458949,5006.0383531150455
3,3,299.0185586966942,ENERGY,77173.97896225554,50.92600290339432,338.3867094559434,7849.371539648284
4,4,3824.857888074236,IT,141517.6969290391,124.8461215967209,941.1219616009537,3985.8699836013607

In [252]:
dataset6.to_csv("hipo.csv", sep=',', encoding='utf-8', index=False)