In [108]:
from faker import Faker
import numpy as np
import random
import pandas as pd
fake = Faker()

## Teams

teams:

- id
- position
- budget
- name
- owner

Total: 100

to:

- id
- position
- budget


Total: 100

In [109]:
team_ids = list(range(1,51))

In [110]:
team_names = []
for i in range(len(team_ids)):
    team_names.append("team" + str(i))

In [111]:
team_budgets = []
for i in range(len(team_ids)):
    team_budgets.append(abs(np.random.normal()*10000))

In [112]:
team_owners = []
for i in range(len(team_ids)):
    team_owners.append(fake.name())
team_owners = list(map(lambda x: x.replace(",", ""), team_owners))

In [113]:
team_positions = []
for i in range(len(team_ids)):
    team_positions.append(team_ids[i])

In [114]:
matrix = np.array([team_ids, team_names, team_budgets, team_owners, team_positions])

In [115]:
teams_data = pd.DataFrame({
        'team_id':matrix[0,:],
        'team_name':matrix[1,:],
        'team_budget':matrix[2,:],
        'team_owner':matrix[3,:],
        "team_position": matrix[4,:]
    })

In [116]:
teams_data.head()

          team_budget team_id team_name         team_owner team_position
0  12957.076214208128       1     team0    Heather Johnson             1
1   2403.370251585694       2     team1  Jennifer Marshall             2
2   3390.375497286582       3     team2      Derrick Young             3
3  13547.428394036826       4     team3      Anthony Lewis             4
4    9678.33337197773       5     team4     Ronald Merritt             5

In [117]:
teams_data.to_csv("teams.csv", sep=',', encoding='utf-8',index=False)

## Attendance

- year
- team_id
- attendance

Total: 1000

to:

- team_id
- average_attendance
- sum_attendance

Total: 50

In [118]:
unique_years = list(range(1,21))

In [119]:
attendances = []
attendance_team_ids = []
years = []
for i in unique_years:
    for j in team_ids:
        years.append(i)
        attendance_team_ids.append(j)
        attendances.append(abs(np.random.exponential()*100000/j)

SyntaxError: unexpected EOF while parsing (<ipython-input-119-3620076c3e6c>, line 8)

In [ ]:
matrix = np.array([years, attendance_team_ids, attendances])

In [ ]:
matrix.shape

In [ ]:
attendance_data = pd.DataFrame({
        'year':matrix[0,:],
        'team_id':matrix[1,:],
        'attendance':matrix[2,:]
    })

In [ ]:
attendance_data.head()

In [ ]:
attendance_data.team_id = attendance_data.team_id.astype(int)
attendance_data.year = attendance_data.year.astype(int)

In [ ]:
attendance_data.head()

In [ ]:
attendance_data.to_csv("attendances.csv", sep=',', encoding='utf-8',index=False)

## Season Scores

- team_id
- year
- position

Total: 1000

to:

- team_id
- average_position
- sum_position

Total: 100

In [ ]:
positions = []
position_team_ids = []
years = []
for i in unique_years:
    for j in team_ids:
        years.append(i)
        position_team_ids.append(j)
        positions.append(np.random.randint(1, 51)+j)

In [ ]:
matrix = np.array([years, position_team_ids, positions])

In [ ]:
season_score_data = pd.DataFrame({
        'year':matrix[0,:],
        'team_id':matrix[1,:],
        'position':matrix[2,:]
    })

In [ ]:
season_score_data.head()

In [ ]:
season_score_data.to_csv("season_scores.csv", sep=',', encoding='utf-8',index=False)

## Players

- rating
- age
- worth
- team_id

to: 

- team_id
- average_player_rating
- average_player_age
- average_player_worth
- sum_player_rating
- sum_player_age
- sum_player_worth

Total: 500, 50 per team

In [ ]:
players = list(range(0, 500))

In [ ]:
ages = []
worths = []
players_team_ids = []
ratings = []
for i in team_ids:
    for j in list(range(0, 100)):
        players_team_ids.append(i)
        ages.append(np.random.randint(17, 35))
        worths.append(abs(np.random.normal()*10000)/i)
        ratings.append(abs(np.random.normal()*10000)/i)

In [ ]:
matrix = np.array([players_team_ids, ages, worths, ratings])

In [ ]:
players_data = pd.DataFrame({
        'team_id':matrix[0,:],
        'age':matrix[1,:],
        'worth':matrix[2,:],
        'rating':matrix[3,:]
    })

In [ ]:
players_data.head()

In [ ]:
players_data.team_id = players_data.team_id.astype(int)
players_data.age = players_data.age.astype(int)

In [ ]:
players_data.head()

In [ ]:
players_data.to_csv("players.csv", sep=',', encoding='utf-8',index=False)

## Games 

- home_team_id
- away_team_id
- score

total: 10000

In [ ]:
scores = []
home_teams = []
away_teams = []
for i in list(range(0, 10000)):
    home_team = random.choice(team_ids)
    away_team = home_team
    while away_team == home_team:
          away_team = random.choice(team_ids)
    home_teams.append(home_team)
    away_teams.append(away_team)
    score = 1
    if abs(home_team - away_team) < 5:
        score = 2
    elif away_team > home_team:
        score = 3
    scores.append(score)

In [ ]:
matrix = np.array([home_teams, away_teams, scores])

In [ ]:
games_data = pd.DataFrame({
        'home_team_id':matrix[0,:],
        'away_team_id':matrix[1,:],
        'score':matrix[2,:]
    })

In [120]:
games_data.head()

   away_team_id  home_team_id  score
0            11            48      1
1            46            32      3
2            15            13      2
3            11            47      1
4            50             1      3

In [121]:
games_data.to_csv("games.csv", sep=',', encoding='utf-8',index=False)

## Training Dataset

- home_team_average_player_rating
- home_team_average_player_age
- home_team_average_player_worth
- home_team_sum_player_rating
- home_team_sum_player_worth
- home_team_sum_player_age
- home_team_average_position
- home_team_sum_position
- home_team_average_attendance
- home_team_sum_attendance
- home_team_position
- home_team_budget
- away_team_average_player_rating
- away_team_average_player_age
- away_team_average_player_worth
- away_team_sum_player_rating
- away_team_sum_player_worth
- away_team_sum_player_age
- away_team_average_position
- away_team_sum_position
- away_team_average_attendance
- away_team_sum_attendance
- away_team_position
- away_team_budget
- score