In [1]:
customer_ids = list(range(0,500))

In [2]:
transaction_ids = list(range(5000))

In [5]:
from faker import Faker

In [7]:
fake = Faker()

In [9]:
fake.name()

'Scott Cabrera'

In [16]:
customer_names = []
for i in range(len(customer_ids)):
    customer_names.append(fake.name())

In [36]:
join_dates = []
for i in range(len(customer_ids)):
    join_dates.append(fake.date())

In [19]:
customer_types_cat = ["corporate", "private"]

In [20]:
import random
customer_types = []
for i in range(len(customer_ids)):
    customer_types.append(random.choice(customer_types_cat))

In [59]:
import numpy as np
customer_balance = []
for i in range(len(customer_ids)):
    customer_balance.append(abs(np.random.normal()*10000))

In [60]:
customer_birthdate = []
for i in range(len(customer_ids)):
    customer_birthdate.append(fake.date())

In [61]:
gender_types_cat = ["male", "female"]

In [62]:
customer_gender = []
for i in range(len(customer_ids)):
    customer_gender.append(random.choice(gender_types_cat))

In [63]:
pep_types_cat = [True, False]

In [64]:
customer_pep = []
for i in range(len(customer_ids)):
    customer_pep.append(random.choice(pep_types_cat))

In [79]:
number_of_accounts = []
for i in range(len(customer_ids)):
    number_of_accounts.append(np.random.randint(1, 15))

In [80]:
matrix = np.array([customer_names, join_dates, customer_types, customer_balance, customer_birthdate, customer_gender, customer_pep, number_of_accounts])

In [81]:
matrix.shape

(8, 500)

In [82]:
for i in range(8):
    print(len(matrix[i]))

500
500
500
500
500
500
500
500

In [83]:
#matrix[0,:]

In [84]:
import pandas as pd
dataset = pd.DataFrame({
        'name':matrix[0,:],
        'join_date':matrix[1,:],
        'customer_type':matrix[2,:],
        'balance':matrix[3,:],
        "birthdate": matrix[4,:],
        "gender": matrix[5,:],
        "pep": matrix[6,:],
        "number_of_accounts": matrix[7,:]
    })

In [85]:
dataset.head()

,balance,birthdate,customer_type,gender,join_date,name,number_of_accounts,pep
0,12305.562990729544,1983-04-08,corporate,male,1989-05-25,Michael Williams,14,True
1,3367.0124706495944,2004-10-20,private,male,2006-03-19,Amanda Dunn,13,True
2,3482.917778302858,2011-11-20,private,female,1989-07-19,Brittany Bailey,5,False
3,9319.96819082804,2005-05-10,private,male,2008-08-31,Crystal Mason,13,False
4,12234.149718600698,1985-01-30,corporate,male,2016-09-03,Todd Jefferson,2,False

In [86]:
dataset.to_csv("kyc.csv", sep=',', encoding='utf-8')

In [87]:
trx_in_cust_id = []
for i in range(len(transaction_ids)):

In [88]:
trx_dates = []
for i in range(len(transaction_ids)):
    trx_dates.append(fake.date())

In [89]:
trx_type_cat = ["ATM", "INTERNATIONAL", "DOMESTIC", "SWISH"]
trx_types = []
for i in range(len(transaction_ids)):
    trx_types.append(random.choice(trx_type_cat))